/* CTS.html Design */
body{
    height: 100%;
  }
  
  body{
  background-image: url(LoginDesign.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  /* Login Page Design */
  .modal-dialog{
  text-align: center;
  margin-top: 12.5%;
  }
  
  .modal-content{
    background-color: white;
  }
  
  .modal-heading h2{
    color:#003353;
      font-family: "Arial Black", "Gadget", sans-serif;
      font-size: 30px;
  }

  p{
    color:#003353;
    font-family: "Arial Black", "Gadget", sans-serif;
    font-size: 18px;
  }

  .form-group {
      margin-top: 5%;
  }